<a href="https://colab.research.google.com/github/00kang/Likelion_AISchool/blob/main/python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1. 딕셔너리
*   서로 대응 관계를 가진 데이터로 이루어진 자료형
* 대응 관계는 키(key)와 값(value)로 표현
* 키로 인덱싱하여 접근 가능


    변수명 = {키1:값1, 키2:값2, ...}

###2. JSON (JavaScript Object Notation)
*   자바 스크립트의 프로그래밍 언어 부분에 기반
*   데이터를 효율적으로 저장하고 교환하는 데 사용하는 텍스트 데이터
*   장점 : 사람이 읽고 쓰기 쉬움<br>컴퓨터가 파싱하고 생성하기에도 쉬움

    
    이름과 값의 집합
    정렬된 값의 리스트

In [ ]:
{'1.FirstName' : 'JaeHwa', #이름, 값
 '2.LastName' : 'Lee',
 '3.Age' : 20,
 '4.Youtube_ch' : 'AIRIM',
 '5.Courses' : [{'Classes' : ['Probability', 'Generalized Linear Model', 'Categorical Data Analysis'], 'Major' : 'ML'}, 
                {'Classes' : ['Data Structure', 'Programming', 'Algorithms'], 'Major' : 'Deep Learning'}]}
                #정렬된 값의 리스트 형식 구조

*   파일 변환 <br>Python의 list, tuple -> Json의 array   
Json의 array -> Python의 list

###3. Python에서 Json 다루기
*   내장 모듈로 Json 불러오기
*   Json형식의 데이터를 열어 Python 객체로 읽어오기
*   Python 객체를 Json 문자열로 변환하기

In [ ]:
#내장 모듈 Json 불러오기
import json

# with open으로 파일을 불러옴과 동시에 as로 별칭 정해주기
with open ('student_file.json') as json_file:
    json_data = json.load(json_file) #불러온 데이터를 load로 통과시켜 python 객체에 저장

json_data

In [5]:
student_data = {
    '1.FirstName' : 'JaeHwa',
    '2.LastName' : 'Lee',
    '3.Age' : 20,
    '4.Youtube_ch' : 'AIRIM',
    '5.Courses' : [{'Classes' : ['Probability', 'Generalized Linear Model', 'Categorical Data Analysis'], 'Major' : 'ML'}, 
                   {'Classes' : ['Data Structure', 'Programming', 'Algorithms'], 'Major' : 'Deep Learning'}]}

In [10]:
st_json = json.dumps(student_data) #Python 객체를 Json 문자열로 바꾸려면 dumps 사용
print(st_json) #가독성 낮은 결과

{"1.FirstName": "JaeHwa", "2.LastName": "Lee", "3.Age": 20, "4.Youtube_ch": "AIRIM", "5.Courses": [{"Classes": ["Probability", "Generalized Linear Model", "Categorical Data Analysis"], "Major": "ML"}, {"Classes": ["Data Structure", "Programming", "Algorithms"], "Major": "Deep Learning"}]}

In [9]:
st_json2 = json.dumps(student_data, indent=4) #indent로 들여쓰기 설정
print(st_json2)

{
    "1.FirstName": "JaeHwa",
    "2.LastName": "Lee",
    "3.Age": 20,
    "4.Youtube_ch": "AIRIM",
    "5.Courses": [
        {
            "Classes": [
                "Probability",
                "Generalized Linear Model",
                "Categorical Data Analysis"
            ],
            "Major": "ML"
        },
        {
            "Classes": [
                "Data Structure",
                "Programming",
                "Algorithms"
            ],
            "Major": "Deep Learning"
        }
    ]
}

In [13]:
st_json3 = json.dumps(student_data, indent=4, sort_keys=True) #key정렬
print(st_json3)

{
    "1.FirstName": "JaeHwa",
    "2.LastName": "Lee",
    "3.Age": 20,
    "4.Youtube_ch": "AIRIM",
    "5.Courses": [
        {
            "Classes": [
                "Probability",
                "Generalized Linear Model",
                "Categorical Data Analysis"
            ],
            "Major": "ML"
        },
        {
            "Classes": [
                "Data Structure",
                "Programming",
                "Algorithms"
            ],
            "Major": "Deep Learning"
        }
    ]
}

###4. OPEN API (Application Programming Interface)
*   인터넷 이용자가 웹 검색 결과 및 사용자 인터페이스 등을 수동적으로 제공받는데 그치지 않고 직접 응용 프로그램과 서비스를 개발할 수 있도록 공개된 API<br>
= 인터넷 이용자가 웹 검색 결과 즉 데이터를 우리가 지정한 조건에 맞게끔 가져올 수 있는 도구

* OPEN API라는 것을 활용하려면 해당 업체에서 제공해 주는 '키'가 필요
* OPEN API 제공 페이지에서 가이드 라인 제시


* 데이터
0. 필요한 데이터 확인
1. 데이터 공급형태 확인
2. 데이터 정제

* URL
0. OPEN API 가이드라인 제공 페이지의 응답 예시
1. 발급받은 키와 날짜로 추정되는 숫자를 가져다 나만의 key와 원하는 날짜로 설정
2. request.get()함수로 url 저장

In [14]:
# OPEN API를 사용하여 일별 영화 순위 정보 가져오기
#key = 50ee936c7380f8675b6bb4de9a74212e

import requests

url = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=50ee936c7380f8675b6bb4de9a74212e&targetDt=20200501"
res = requests.get(url) #url에 들어있는 정보 요청
text = res.text #정보를 우리가 이해할 수 있게 텍스트로 변환
MD_json = json.loads(text) #Json형식으로 바꿈

In [15]:
print(json.dumps(MD_json, indent=4, sort_keys=True))

{
    "boxOfficeResult": {
        "boxofficeType": "\uc77c\ubcc4 \ubc15\uc2a4\uc624\ud53c\uc2a4",
        "dailyBoxOfficeList": [
            {
                "audiAcc": "35054",
                "audiChange": "-42.5",
                "audiCnt": "8822",
                "audiInten": "-6530",
                "movieCd": "20205402",
                "movieNm": "\ud2b8\ub864: \uc6d4\ub4dc \ud22c\uc5b4",
                "openDt": "2020-04-29",
                "rank": "1",
                "rankInten": "0",
                "rankOldAndNew": "OLD",
                "rnum": "1",
                "salesAcc": "260552580",
                "salesAmt": "70128520",
                "salesChange": "-41.7",
                "salesInten": "-50148640",
                "salesShare": "12.2",
                "scrnCnt": "281",
                "showCnt": "791"
            },
            {
                "audiAcc": "26844",
                "audiChange": "-35.7",
                "audiCnt": "7279",
                "audiInten": "-4038",
                "movieCd": "20197397",
                "movieNm": "\ub098\uc758 \uccad\ucd98\uc740 \ub108\uc758 \uac83",
                "openDt": "2020-04-29",
                "rank": "2",
                "rankInten": "0",
                "rankOldAndNew": "OLD",
                "rnum": "2",
                "salesAcc": "214754760",
                "salesAmt": "64189060",
                "salesChange": "-34",
                "salesInten": "-33132640",
                "salesShare": "11.2",
                "scrnCnt": "533",
                "showCnt": "933"
            },
            {
                "audiAcc": "10601",
                "audiChange": "333.9",
                "audiCnt": "6391",
                "audiInten": "4918",
                "movieCd": "20173226",
                "movieNm": "\ud328\uc655\ubcc4\ud76c \ub514 \uc624\ub9ac\uc9c0\ub110",
                "openDt": "2017-03-30",
                "rank": "3",
                "rankInten": "11",
                "rankOldAndNew": "OLD",
                "rnum": "3",
                "salesAcc": "97138740",
                "salesAmt": "59316340",
                "salesChange": "342.3",
                "salesInten": "45904840",
                "salesShare": "10.4",
                "scrnCnt": "320",
                "showCnt": "397"
            },
            {
                "audiAcc": "23082",
                "audiChange": "-37",
                "audiCnt": "6150",
                "audiInten": "-3615",
                "movieCd": "20181685",
                "movieNm": "\ud638\ud154 \ub808\uc774\ud06c",
                "openDt": "2020-04-29",
                "rank": "4",
                "rankInten": "0",
                "rankOldAndNew": "OLD",
                "rnum": "4",
                "salesAcc": "184976280",
                "salesAmt": "54055380",
                "salesChange": "-36.1",
                "salesInten": "-30486120",
                "salesShare": "9.4",
                "scrnCnt": "444",
                "showCnt": "776"
            },
            {
                "audiAcc": "28309",
                "audiChange": "-43.8",
                "audiCnt": "5880",
                "audiInten": "-4578",
                "movieCd": "20207722",
                "movieNm": "\uc800 \uc0b0 \ub108\uba38",
                "openDt": "2020-04-30",
                "rank": "5",
                "rankInten": "-2",
                "rankOldAndNew": "OLD",
                "rnum": "5",
                "salesAcc": "188576760",
                "salesAmt": "48828300",
                "salesChange": "-42.8",
                "salesInten": "-36587160",
                "salesShare": "8.5",
                "scrnCnt": "437",
                "showCnt": "782"
            },
            {
                "audiAcc": "13956005",
                "audiChange": "-36.2",
                "audiCnt": "5624",
                "audiInten": "-3185",
                "movieCd": "20184889",
                "movieNm": "\uc5b4\ubca4\uc838\uc2a4: \uc5d4\ub4dc\uac8c\uc784",
                "openDt": "2019-04-24",
                "rank": "6",
                "rankInten": "-1",
                "rankOldAndNew": "OLD",
                "rnum": "6",
                "salesAcc": "122338260260",
                "salesAmt": "40896600",
                "salesChange": "-34.9",
                "salesInten": "-21883500",
                "salesShare": "7.1",
                "scrnCnt": "479",
                "showCnt": "647"
            },
            {
                "audiAcc": "18761",
                "audiChange": "-36.6",
                "audiCnt": "4745",
                "audiInten": "-2736",
                "movieCd": "20206441",
                "movieNm": "\ub9c8\uc774 \uc2a4\ud30c\uc774",
                "openDt": "2020-04-29",
                "rank": "7",
                "rankInten": "-1",
                "rankOldAndNew": "OLD",
                "rnum": "7",
                "salesAcc": "145620900",
                "salesAmt": "42848900",
                "salesChange": "-34.3",
                "salesInten": "-22399500",
                "salesShare": "7.5",
                "scrnCnt": "232",
                "showCnt": "584"
            },
            {
                "audiAcc": "829721",
                "audiChange": "-37.7",
                "audiCnt": "4482",
                "audiInten": "-2710",
                "movieCd": "20192399",
                "movieNm": "1917",
                "openDt": "2020-02-19",
                "rank": "8",
                "rankInten": "-1",
                "rankOldAndNew": "OLD",
                "rnum": "8",
                "salesAcc": "7508746440",
                "salesAmt": "38905780",
                "salesChange": "-35.8",
                "salesInten": "-21670100",
                "salesShare": "6.8",
                "scrnCnt": "306",
                "showCnt": "440"
            },
            {
                "audiAcc": "3706331",
                "audiChange": "-36.1",
                "audiCnt": "3278",
                "audiInten": "-1851",
                "movieCd": "20167904",
                "movieNm": "\ub77c\ub77c\ub79c\ub4dc",
                "openDt": "2016-12-07",
                "rank": "9",
                "rankInten": "-1",
                "rankOldAndNew": "OLD",
                "rnum": "9",
                "salesAcc": "30673162868",
                "salesAmt": "17286460",
                "salesChange": "-35.4",
                "salesInten": "-9492720",
                "salesShare": "3.0",
                "scrnCnt": "289",
                "showCnt": "437"
            },
            {
                "audiAcc": "11224539",
                "audiChange": "-41.9",
                "audiCnt": "2648",
                "audiInten": "-1911",
                "movieCd": "20177478",
                "movieNm": "\uc5b4\ubca4\uc838\uc2a4: \uc778\ud53c\ub2c8\ud2f0 \uc6cc",
                "openDt": "2018-04-25",
                "rank": "10",
                "rankInten": "0",
                "rankOldAndNew": "OLD",
                "rnum": "10",
                "salesAcc": "100017693049",
                "salesAmt": "20258880",
                "salesChange": "-41.1",
                "salesInten": "-14121440",
                "salesShare": "3.5",
                "scrnCnt": "364",
                "showCnt": "459"
            }
        ],
        "showRange": "20200501~20200501"
    }
}

In [16]:
print(MD_json.keys())

print(MD_json['boxOfficeResult'].keys())

dict_keys(['boxOfficeResult'])
dict_keys(['boxofficeType', 'showRange', 'dailyBoxOfficeList'])

In [17]:
for i in MD_json['boxOfficeResult']['dailyBoxOfficeList'] :
    print(i['rank'], i['rankOldAndNew'], i['movieCd'], i['movieNm'], i['salesAmt']) #원하는 응답필드

1 OLD 20205402 트롤: 월드 투어 70128520
2 OLD 20197397 나의 청춘은 너의 것 64189060
3 OLD 20173226 패왕별희 디 오리지널 59316340
4 OLD 20181685 호텔 레이크 54055380
5 OLD 20207722 저 산 너머 48828300
6 OLD 20184889 어벤져스: 엔드게임 40896600
7 OLD 20206441 마이 스파이 42848900
8 OLD 20192399 1917 38905780
9 OLD 20167904 라라랜드 17286460
10 OLD 20177478 어벤져스: 인피니티 워 20258880

In [19]:
import pandas as pd
movie = []
for i in MD_json['boxOfficeResult']['dailyBoxOfficeList'] :
    movie.append([i['rank'], i['rankOldAndNew'], i['movieCd'], i['movieNm'], i['salesAmt']])
data = pd.DataFrame(movie)

In [22]:
data.head(10)

    0    1         2             3         4
0   1  OLD  20205402     트롤: 월드 투어  70128520
1   2  OLD  20197397   나의 청춘은 너의 것  64189060
2   3  OLD  20173226   패왕별희 디 오리지널  59316340
3   4  OLD  20181685        호텔 레이크  54055380
4   5  OLD  20207722        저 산 너머  48828300
5   6  OLD  20184889    어벤져스: 엔드게임  40896600
6   7  OLD  20206441        마이 스파이  42848900
7   8  OLD  20192399          1917  38905780
8   9  OLD  20167904          라라랜드  17286460
9  10  OLD  20177478  어벤져스: 인피니티 워  20258880

###5. 공공 데이터

0. 공공 데이터 포털(https://www.data.go.kr) 접속
1. 원하는 정보 검색 후 open api 정보 확인
2. 참고문서에서 요청 url과 응답필드 확인

In [20]:
#판매처별 공적 마스크 판매처 정보

import requests

url2 = "https://8oi9s0nnth.apigw.ntruss.com/corona19-masks/v1/sales/json?page=1&perPage=500"
res = requests.get(url2)
text = res.text
corona19_mask = json.loads(text)

print(json.dumps(corona19_mask, indent=4, sort_keys=True))

{
    "error": {
        "details": "URL not found.",
        "errorCode": "300",
        "message": "Not Found Exception"
    }
}

In [21]:
import pandas as pd

corona19_mask_list = []
for i in corona19_mask['sales'] :
    corona19_mask_list.append([i['created_at'], i['code'], i['remain_stat']])

corona19_mask_dataframe = pd.DataFrame(corona19_mask_list)

KeyError: ignored

In [23]:
corona19_mask_dataframe.head(10)

NameError: ignored